*{
  /* margin: 0;
  padding: 0; */
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background-color: #000;
  color: #fff;
}
html{
  overflow-x: hidden;
}
p{
  margin: 10px 0px;
}